
<div class="card bg-light mb-3">
    <div class="card-body">
        <div class="row">
            <a href="#">
                <img class="rounded avatar-s" style="margin-left: 15px; position: absolute"
                        src="{{ url_for('static',filename='images/touxiang.jpg') }}">
            </a>
            <div class="sidebar-nav-name">
                <h6 class="card-title"><a href="{{url_for('blog.index') }}">发狂的桔子</a></h6>
                <small><p class="card-subtitle mb-2 text-muted">永远相信，美好的事情将会发生</p></small>
            </div>
        </div>
        <a class="card-link" href="{{ url_for('blog.index') }}">
            <span class="oi oi-home"></span> 主页
        </a><br>
        <!-- <a class="card-link" href="#">
            <span class="oi oi-star"></span> My Collections
        </a> -->
    </div>
</div>
{% if categories %}
    <div class="card mb-3">
        <div class="card-header">文章分类</div>
        <ul class="list-group list-group-flush">
            {% for category in categories %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" >
                    <a href="{{ url_for('blog.show_category',category_id=category.id) }}">{{ category.name}}</a>
                    <span class="badge badge-primary badge-pill">{{ category.posts|length }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

