{%  extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}编辑文章{% endblock %}

{% block content %}
<div class="page-header">
        <h3>编辑文章</h3>
</div>
  {{ render_form(form) }}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script> -->
    {{ ckeditor.load(pkg_type="full") }}
    {{ ckeditor.config(name='body') }}
    {{ ckeditor.load_code_theme() }}
{% endblock %}